@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi:ital@1&display=swap');
@import url('http://fonts.cdnfonts.com/css/facon');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cinzel', serif;
}

.background__video {
  z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  filter: brightness(70%);
}

.header {
  justify-content: space-around;
}

.links {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

.mobile__links {
  color: white;
  text-decoration: none;
  font-size: 22px;
  margin: 2rem 0;
}

.search__exercises {
  z-index: 10;
}

.searching__input {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.54);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(9.2px);
  -webkit-backdrop-filter: blur(9.2px);
  font-size: 16px;
}

.menu__icon {
  color: white;
  justify-content: center;
  align-items: center;
}

.menu__icon:hover {
  cursor: pointer;
}

.mobile__menu {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;

  width: 100vw;
  height: 100vh;

  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);

  z-index: 20;
}

.close__icon {
  position: absolute;
  z-index: 50;
  color: white;
  top: 5%;
  left: 85%;
}

.exercises__wrapper {
  display: flex;
  flex-direction: column;
  background: rgb(102, 102, 102);
  align-items: center;
  padding-bottom: 1rem;
}

.form__input {
  margin-left: 4rem;
}

.exercises {
  background: rgb(102, 102, 102);
}

.exercise__box {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: 381px;
  text-decoration: none;
}

.exercise-video {
  width: 320px;
  height: 300px;
}

.bodyCalc__box {
  color: white;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.bodyCalc__box input {
  height: 2.5rem;
  width: 10rem;
  border-radius: 10px;
  border: none;
  text-align: right;
  padding-right: 1rem;
}

.bodyCalc__box select {
  height: 2.5rem;
  width: 10rem;
  border-radius: 10px;
  border: none;
}

.bodyCalc__button {

  border-radius: 12px;
  border: none;
  width: 8rem;
  height: 3.5rem;
  box-shadow: 5px 10px 34px -12px rgba(66, 68, 90, 1);
}

.bodyFat__image {
  filter: invert(98%) sepia(1%) saturate(100%) hue-rotate(13deg) brightness(113%) contrast(73%);
  height: 70vh;
  z-index: 1;
}

.counter {
  z-index: 2;
  font-size: 25px;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slidein {
  from {
    margin-left: 350%;
    width: 500%;
  }

  to {
    margin-left: -20%;
    width: 100%;
  }
}

@keyframes slidein1 {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 20%;
    width: 100%;
  }
}

.box__animation {
  animation-duration: 2s;
  animation-name: slidein;
}

.box__animation1 {
  animation-duration: 2s;
  animation-name: slidein1;
}